.image{
    width: 200px;
    display: inline-block;
}
.movie {
    display: flex;
    padding: 10px;
}
.info{
    padding-left: 15px;
}
.title{
    padding-left: 10px;
}
.link{
    padding-left: 10px;
}
.backButton{
    padding: 5px;
    margin: 10px;
    width: 100px;
    background-color: lightgray;
    border-radius: 2px;
    border: 1px solid black;
}