.SearchForm {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px;
  }
  
  .SearchForm__button {
    height: 30px;
    display: inline-block;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    padding: 2px;
  }
  
  .SearchForm__input {
    height: 30px;
    display: inline-block;
    width: 100%;
    font: inherit;
    font-size: 20px;
    padding: 2px;
    outline: none;
  }
  
  .SearchForm__input::placeholder {
    font: inherit;
    font-size: 18px;
  }